.container {
    width: 100ih;
    height: calc(100vh - 203px);
    margin: 0px auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    //justify-content: center;
    text-align: center;
    --mat-sort-arrow-color: white;
}

.spinner-container {
    display: flex;
    justify-content: center;
}

.form-container{
    margin-top: 10px;
}

.table-estilos {
    overflow: auto;
    margin-top: 35px;

    th {
        background-color: rgb(209, 101, 101);
        color: white;
    }

    tr {
        height: 0px;
    }

    tr:hover {
        background: whitesmoke;
        cursor: pointer;
    }
}

.mat-column-codigo {
    width: 15%;
    max-width: 15%;
    border-right: 1px solid black;
    padding-right: 24px;
    text-align: center;
}

.mat-column-descripcion {
    width: 30%;
    max-width: 40%;
    border-right: 1px solid black;
    padding-right: 24px;
    text-align: center;
}

.mat-column-unidad {
    width: 15%;
    max-width: 15%;
    border-right: 1px solid black;
    padding-right: 24px;
    text-align: left;
}

.mat-column-cantidad_total {
    width: 10%;
    max-width: 10%;
    border-right: 1px solid black;
    padding-right: 24px;
    text-align: center;
}

.mat-column-proveedores {
    width: 24%;
    max-width: 24%;
    border-right: 1px solid black;
    padding-right: 24px;
    text-align: center;
}

.mat-column-esta_activo {
    width: 6%;
    max-width: 6%;
    border-right: 1px solid black;
    padding-right: 24px;
    text-align: left;
}

/*******************/
/* Tabla aux*/

.table-estilos-aux {
    margin-top: 10px;
    margin-bottom: 10px;

    th {
        background-color: rgb(209, 101, 101);
        color: white;
    }

    tr {
        height: 0px;
    }
}

.tableAux-element-detail {
  overflow: hidden;
}

.boton-icono-personalizado {
  width: 23px !important;
  height: 23px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 !important;
}

.boton-icono-personalizado .mat-icon {
  font-size: 23px !important;
  width: 23px !important;
  height: 23px !important;
}